<!--Afficher les boutons selon l’état de connexion.-->

<% if (!user) { %>
  <a href="/users/login">Se connecter</a>
  <a href="/users/register">S'inscrire</a>
<% } else { %>
  <span>Bienvenue, <%= user.username %> !</span>
  <a href="/users/logout">Se déconnecter</a>
  <% if (user.role === 'admin') { %>
    <a href="/admin">Admin</a>
  <% } %>
<% } %>


<div class="author">
  <h1 class="author__heading">hello, i'm Evan</h1>
  <p class="author__body">Cybersecurity student</p>
</div>

<img src="/img/PenguinsOnIce.jpg" alt="penguins on windows ice" class="penguin-image" width="1024" height="768">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
   
<!-- ejseach pour afficher les datas de chaque post dans la page /post/_iddupost -->
    <% data.forEach(post => { %>    
      <li>
        <a href="/post/<%= post._id %>">
          <!-- récupérer les datas grâce au keyword "post" -->
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
      
      <% }) %>

  </ul>

  <% if (nextPage !== null) { %>
   <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
    

 

  



</section>